@{
}


@model EstudianteViewModel

<h1>Registro de Estudiantes</h1>

@if (TempData["Mensaje"] != null)
{
	<div class="alert alert-success">@TempData["Mensaje"]</div>
}

<form asp-action="Registrar" method="post">
	<div>
		<label asp-for="nombreEstudiante"></label>
		<input asp-for="nombreEstudiante" class="form-control" />
		<span asp-validation-for="nombreEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="matriculaEstudiante"></label>
		<input asp-for="matriculaEstudiante" class="form-control" />
		<span asp-validation-for="matriculaEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="carreraEstudiante"></label>
		<select asp-for="carreraEstudiante" asp-items="Model.carreras" class="form-control"></select>
		<span asp-validation-for="carreraEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="correoEstudiante"></label>
		<input asp-for="correoEstudiante" class="form-control" />
		<span asp-validation-for="correoEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="telefonoEstudiante"></label>
		<input asp-for="telefonoEstudiante" class="form-control" />
		<span asp-validation-for="telefonoEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="fechaEstudiante"></label>
		<input asp-for="fechaEstudiante" type="date" class="form-control" />
		<span asp-validation-for="fechaEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="generoEstudiante"></label>
		<input type="radio" asp-for="generoEstudiante" value="Masculino" /> Masculino
		<input type="radio" asp-for="generoEstudiante" value="Femenino" /> Femenino
	</div>
	<div>
		<label asp-for="turnoEstudiante"></label>
		<select asp-for="turnoEstudiante" asp-items="Model.turnos" class="form-control"></select>
		<span asp-validation-for="turnoEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="ingresoEstudiante"></label>
		<select asp-for="ingresoEstudiante" asp-items="Model.ingresos" class="form-control"></select>
		<span asp-validation-for="ingresoEstudiante" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="becaEstudiante"></label>
		<input asp-for="becaEstudiante" class="form-check-input" />
		<span asp-validation-for="becaEstudiante"></span>
	</div>
	<div>
		<label asp-for="porcentajebecaEstudiante"></label>
		<input asp-for="porcentajebecaEstudiante" class="form-control" />
		<span asp-validation-for="porcentajebecaEstudiante" class="text-danger"></span>
	</div>
	<div class="form-check">
		<label asp-for="tcEstudiante"></label>
		<input type="checkbox" asp-for="tcEstudiante" />
		<span asp-validation-for="tcEstudiante" class="text-danger"></span>
	</div>
	
	<div class="row">
		<div class="col-6">
		<br />
			<button type="submit" class="btn btn-primary" size="30px">Registrar</button>
			<a href="/Estudiantes/Lista" class="btn btn-secondary">Lista de estudiantes registrados</a>
		</div>
	</div>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
