@model MateriaViewModel;

<h1>Registro de Materias</h1>

@if (TempData["Mensaje"] != null)
{
	<div class="alert alert-success">@TempData["Mensaje"]</div>
}

<form asp-action="Registrar" asp-controller="Materias" method="post">
	<div>
		<label asp-for="codMateria"></label>
		<input asp-for="codMateria" class="form-control" />
		<span asp-validation-for="codMateria" class="text-danger"></span>
	</div>

	<div>
		<label asp-for="nombreMateria"></label>
		<input asp-for="nombreMateria" class="form-control" />
		<span asp-validation-for="nombreMateria" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="creditoMateria"></label>
		<input asp-for="creditoMateria" class="form-control" />
		<span asp-validation-for="creditoMateria" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="carreraMateria"></label>
		<select asp-for="carreraMateria" class="form-control" asp-items="@(new SelectList (
																		 new[] { "Ingeniería en Software",
                                                                            	 "Odontología",
                                                                            	 "Administración de empresas",
                                                                            	 "Enfermería",
                                                                            	 "Psicología" }))">
		<option value="">Elige una carrera</option>
		</select>
		<span asp-validation-for="carreraMateria" class="text-danger"></span>
	</div>

	<br />

	<div>
		<button type="submit" class="btn btn-primary">Registrar materia</button>
		<a href="/Materias/Lista" class="btn btn-secondary">Lista de materias registradas</a>
	</div>

</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}